cmake-build-debug/*.exe filter=lfs diff=lfs merge=lfs -text
cmake-build-debug/*exe filter=lfs diff=lfs merge=lfs -text
cmake-build-debug/*。exe filter=lfs diff=lfs merge=lfs -text
cmake-build-debug/*.exe filter=lfs diff=lfs merge=lfs -text
